<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='Jarvis.png') }}" class="Main_Icon" />
  <h3>Enter what you want to know</h3>
  <form action="/" method="post">
    <!--<input type="text" name="Your Question" placeholder="Enter a Question" required />-->
    <input type="submit" name="submit" value="Adjust for Ambient Sounds"/>
    <br>
    <br>
    <input type="submit" name="submit" value="Type Question Manually"/>
  </form>
<!--
  {% if waitImg %}
  <div class="imageWait">
    <br>
    <img src="{{ url_for('static', filename='dog.png') }}"></img>
    <br>
  </div>
  {% endif %}
  {% if result %}
  <div class="result">
    <br>
    {{ result }}
    <br>
  </div>
  {% endif %}
-->
</body>
